/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(250, 206, 213, 0.689);
}

.container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 225px 150px 150px 150px;
  border-radius: 20px;
  height: 550px;
  width: 1000px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
